.about {
  flex-direction: column;
  align-items: center;
  background: $soapstone;
  overflow: visible;

  &__content {
    text-align: center;
    z-index: 10;
    position: relative;
    width: 80%;
    background: $white;
    border-radius: 50px;
    margin-top: 100px;
    padding: 50px;
    box-shadow: rgb(213, 141, 77, 0.2) 0px 48px 100px 0px;
    h2 {
      @include section-title;
      margin-top: 20px;
    }
    p {
      text-align: justify;
    }
  }
  &__2 {
    z-index: 10;
    display: grid;
    text-align: center;
    .wrapper {
      display: grid;
      text-align: center;
      &:nth-child(2) {
        p:nth-child(1) {
          font-size: 36px;
          margin-bottom: 0;
          font-weight: 400;
        }
        p:nth-child(2) {
          margin-top: 0;
        }
      }
      picture {
        width: 300px;
        place-self: center;
        height: 230px;
      }
    }
    .vl {
      z-index: 10;
      justify-self: center;
      border-left: 2px solid $orange;
      height: 80px;
      margin: 10px 0;
      &.first {
        height: 200px;
        margin-top: 60px;
      }
    }

    p {
      font-size: 28px;
    }
  }
  @include tablet {
    padding-top: 50px;
    .about__content {
      margin-top: 0;
      width: inherit;
      padding: 25px;
      h2 {
        margin-top: 0;
      }
    }

    &__2 {
      .wrapper {
        &:nth-child(2) {
          p:nth-child(1) {
            font-size: 28px;
          }
        }
      }
      .vl {
        height: 40px;
        margin: 5px 0;
        &.first {
          height: 100px;
          margin-top: 30px;
        }
      }
      p {
        font-size: 20px;
      }
    }
  }
}
