.about-page {
  h2.page-title {
    @include section-title;
    position: absolute;
    top: 350px;
    color: $soapstone;
    left: 36%;
    margin-top: 0;
  }
  .navbar {
    position: relative;
  }
  .section {
    flex-direction: column;
    @include flex-center;
    &.navigation {
      height: 500px;
    }
  }
  .content {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    p {
      text-align: justify;
    }
  }
  .image-container {
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(157, 157, 157, 0.3519608527004552) 10%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0.4) 60%,
        rgba(157, 157, 157, 0.31834740732230393) 90%
      );
      width: 100%;
      height: 100%;
    }
    img {
      height: 450px;
      object-fit: cover;
      width: 100%;
      object-position: 0% 70%;
    }
  }
  @include tablet {
    h2.page-title {
      margin-right: 30px;
      top: 250px;
      text-align: right;
      margin-top: 0;
      font-size: 32px;
    }
    .content {
      width: 90%;
    }
  }
  @include mobile {
    .content {
      width: 90%;
    }
    h2.page-title {
      top: 330px;
    }
    .section.navigation {
      height: 200px;
    }
    .image-container {
      img {
        object-position: 25% 50%;
      }
    }
  }
}
