html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $accent;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $dark-grey;
  font-family: $Apercu;
  line-height: 1.5;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h2 {
  font-family: 'Gilda Display', serif;
}

p, span {
  font-size: 22px;
  @include tablet {
    font-size: 18px;
  }
}

button {
  background: $orange;
  color: $white;
  padding: 20px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none; /* Remove the default outline to avoid double outlines */


  &:hover {
    transition: all 0.3s ease-in-out;
    background: $soapstone;
    color: $orange;
    outline: 2px solid $orange; /* Apply an outline on hover */
  }
}

.section {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  position: relative;
  overflow: hidden;
  @include tablet {
    display: block;
  }
  @include mobile {
    padding: 0 20px;
  }
  &__title {
    flex-shrink: 0;
    width: 220px;
    margin-right: 70px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.1rem;
    @include desktop {
      margin-right: 50px;
    }
    @include little-desktop {
      width: 150px;
    }
    @include tablet {
      text-align: left;
      width: auto;
    }
  }
  &__content {
    font-weight: 300;
    font-size: 1.1rem;
    width: 100%;
    max-width: 650px;
    @include tablet {
      padding-top: 30px;
      padding-left: 50px;
    }
    @include mobile {
      padding-left: 30px;
    }
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: clip;
    }
  }
}

.in-view {
  opacity: 1;
  transform: translateZ(0);
}
