// Colors
$white: #fff;
$orange: #fdc89d;
$ligth-pink: #fef6f1;
$taupe: #433d32;
$sienna: #d58d4d;
$soapstone: #fff8f4;
$derby: #ffeadc;
$accent: #ffcc66;
$dark-grey: #444452;

// Fonts
$font-stack: 'Source Sans Pro', system, system-ui, -apple-system,
  BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$Apercu: 'Apercu', $font-stack;
// Media queries
$fifteen-inch: 1440px;
$thirteen-inch: 1280px;
$desktop-width: 1024px;
$little-desktop: 850px;
$tablet-width: 768px;
$weird-not-tablet-width: 630px;
$phablet-width: 550px;
$mobile-width: 480px;
$small-mobile-width: 360px;
$tiny-mobile-width: 330px;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin fifteen {
  @media screen and (max-width: #{$fifteen-inch}) {
    @content;
  }
}

@mixin thirteen {
  @media screen and (max-width: #{$thirteen-inch}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin little-desktop {
  @media screen and (max-width: #{$little-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin weird-medium {
  @media screen and (max-width: #{$weird-not-tablet-width}) {
    @content;
  }
}

@mixin phablet {
  @media screen and (max-width: #{$phablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin tiny-mobile {
  @media screen and (max-width: #{$tiny-mobile-width}) {
    @content;
  }
}

// other mixins

@mixin custom-before {
  display: block;
  position: absolute;
  content: '';
  background-size: contain;
  z-index: 1;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  font-family: 'Gilda Display', serif;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  @include desktop {
    font-size: 36px;
  }
  @include tablet {
    margin-top: 50px;
  }
  @include mobile {
    font-size: 22px;
  }
}

@mixin underline {
  
}

