.hero {
  min-height: 100vh;
  overflow: hidden;
  .section__background {
    img {
      object-position: 50% 100%;
    }
  }
  figure {
    align-self: center;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;

    figcaption {
      @include flex-center;
      align-items: inherit;
      flex-direction: column;
      width: 50%;
      min-height: 100%;
      position: relative;
      z-index: 2;
      div:first-child {
        display: block;
      }
      h1 {
        font-size: 50px;
        font-family: 'Gilda Display', serif;
      }
      em {
        font-size: 32px;
        font-weight: 300;
        font-family: $Apercu;
      }
      p {
        font-style: italic;
        font-size: 26px;
      }
      .quote__author {
        font-weight: 300;
        text-align: end;
        font-size: 20px;
      }
      button {
        margin-top: 10%;
        width: fit-content;
        place-self: center;
      }
    }
    .image-container {
      width: 40%;
      position: relative;
      height: 90%;
      place-self: self-end;

      img {
        width: auto;
        z-index: 2;
        position: relative;
        max-height: 100%;
      }
      &::before {
        @include custom-before;
        bottom: 35%;
        right: -47%;
        background: transparent
          url(https://static1.squarespace.com/static/60bf9806d24c362bafe3faf5/t/60e8ac279a0fc52ea427b148/1625861159940/heroBlob.svg)
          bottom left no-repeat;
        width: 142.384033613%;
        max-width: 1960px;
        height: 200%;
        pointer-events: none;
      }
    }
  }
  @include fifteen {
    figure {
      margin-top: 10%;
      figcaption {
        h1 {
          line-height: 1.2;
        }
        em {
          font-size: 28px;
        }
        p {
          font-size: 22px;
          margin: 0;
        }
      }
    }
  }

  @include desktop {
    figure {
      figcaption {
        width: 60%;
        padding: 0 10px;
        h1 {
          font-size: 40px;
        }
        em {
          font-size: 22px;
        }
        p {
          font-size: 18px;
        }
        button {
          font-size: 18px;
          padding: 16px;
        }
      }
      .image-container {
        width: 60%;
      }
    }
  }

  @include tablet {
    figure {
      margin: 5% 5% 0 5%;
      flex-direction: column-reverse;
      figcaption {
        width: 100%;

        h1 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
        button {
          font-size: 18px;
          padding: 12px;
          margin-top: 5%;
        }
      }
      .image-container {
        width: 70%;
        place-self: center;
      }
    }
  }

  @include mobile {
    padding: 0;
    figure {
      margin: 15% 5% 0 5%;
      figcaption {
        h1 {
          margin: 12px 0;
          font-size: 26px;
        }
        em {
          font-size: 16px;
        }
        p {
          margin: 12px 0;
          font-size: 16px;
        }
        .quote__author {
          margin: 0;
          font-size: 14px;
        }
        button {
          margin-top: 30px;
          font-size: 12px;
          padding: 10px;
        }
      }
      .image-container {
        text-align: end;
        place-self: end;
      }
    }
  }
}
