.navbar {
  background: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 20px 80px;
  pointer-events: auto;
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: inherit;
  }
  &__logo-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
  }
  &__logo {
    margin-right: 10vw;
    flex-grow: 0;
    flex-shrink: 0;
    backface-visibility: hidden;
    img {
      width: 200px;
      height: 120px;
      object-fit: cover;
    }
  }
  nav {
    margin-right: auto;
    justify-content: end;
    margin-top: -60px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-flex;
    flex-wrap: wrap;
    a {
      margin-right: 1.5vw;
      white-space: nowrap;
      font-size: 22px;
      color: $taupe;
      transition: color 0.2s ease-in-out;
      &:last-child {
        border-radius: 50px;
        border: solid $orange;
        padding: 5px 10px;
      }
      &:hover {
        transition: color 0.2s ease-in-out;
        color: $sienna;
      }
    }
  }

  @include fifteen {
    .navbar__logo {
      img {
        width: 260px;
        height: 150px;
      }
    }
  }
  @include thirteen {
    .navbar__logo {
      img {
        width: 200px;
        height: 110px;
      }
    }
    nav {
      flex-wrap: nowrap;
      margin-top: initial;
    }
  }
  @include desktop {
    padding: 20px 40px;

    .navbar__logo {
      margin-right: 0;
      img {
        width: 160px;
        height: 100px;
        object-fit: cover;
      }
    }
    nav {
      a {
        font-size: 18px;
      }
    }
  }
  @include tablet {
    nav,
    button {
      display: none;
    }
  }
  @include mobile {
    padding: 16px 10%;
  }
  .navbar__logo {
    margin-right: 0;
    img {
      width: 200px;
      height: 120px;
    }
  }
}
