.team {
  .section__background {
    img {
      object-fit: fill;
    }
  }
  &__title {
    @include section-title;
    margin-bottom: 10px;
  }

  &__content {
    position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 50px;

    ul {
      @include flex-center;
      p,
      h2 {
        font-family: $Apercu;
        font-size: 24px;
        margin: 20px 0 0 0;
      }
      li {
        align-self: start;
        max-width: 30%;
        min-height: 280px;
        margin: 0 50px;
        h2,
        p {
          font-weight: 300;
        }
        img {
          border-radius: 3%;
          box-shadow: rgb(213, 141, 77, 0.2) 0px 48px 100px 0px;
        }
      }
    }
  }
  @include tablet {
    &__content {
      ul {
        li {
          max-width: initial;
          margin: 0 10px 40px 10px
        }
      }
    }
  }
  @include mobile {
    &__content {
      ul {
        @include flex-center;
        align-items: start;
        flex-direction: column;

        li {
          min-width: 45%;
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
