<section class="section about" id="about">
  <div class="section__background">
    {% include _figure.html alt="project" picName="bg/about" %}
  </div>
  <div class="about__content">
    <h2>Nuestro recorrido</h2>
    <p>
      Somos un equipo de profesionales que se dedican a la atención de la salud mental desde hace más de 20 años. A
      partir de la Pandemia comenzó a aumentar el nivel de consultas de manera significativa dado el sinnúmero de
      problemáticas y síntomas que se agudizaron con el advenimiento de esta enfermedad de escala mundial.
    </p>
    <p>
      Fue a partir de allí (y en función del aislamiento obligatorio) que decidimos ofrecer a los consultantes la
      posibilidad de realizar la sesión online, una modalidad de atención diferente de la presencial pero también
      efectiva
        <a class="read-more-link" href="{{ site.baseurl }}/about.html">...continuar</a>
    </p>

  </div>
  <div class="about__2">
    <div class="vl first"></div>

    <div class="wrapper">
      {% include _figure.html alt="logo" picName="navbar_logo" %}
      <p>pudieras dormir bien,</p>

    </div>
    <div class="wrapper">
      <div class="vl"></div>
      <p>vivieras más en el presente,</p>

    </div>
    <div class="wrapper">
      <div class="vl"></div>
      <p> disfrutaras de los afectos,</p>

    </div>
    <div class="wrapper">
      <div class="vl"></div>
      <p> pudieras caminar más liviano por la vida.</p>

    </div>
  </div>
</section>