<section class="section about" id="about">
  <div class="section__background">
    <img
      src="https://images.squarespace-cdn.com/content/v1/60bf9806d24c362bafe3faf5/1807567b-125e-4817-a7ec-d5a2794d4231/Contact+BG.jpg" />
  </div>
  <div class="about__content">
    <h2>Vivamus neque ex</h2>
    <p>
      Sed sit amet feugiat lacus, venenatis elementum augue. Praesent neque sem, aliquam in porta eget, luctus eu magna.
      Phasellus eget convallis mauris, nec cursus neque. Morbi nec eros lacus. Sed turpis dui, pharetra ac mauris nec,
      porttitor imperdiet est. Mauris eget nulla mollis, pharetra felis et, fermentum ipsum. Aliquam ac aliquam enim.
      Proin non lectus tempus nunc rutrum auctor. Nunc eget tincidunt massa, vel iaculis dui. In a egestas lectus.
    </p>
    <button>
      <a href="/contact">Read more...</a>
    </button>
  </div>
</section>