<div class="image-container">
	<div class="overlay"></div>
	{% include _figure.html picName="consultorio" %}
</div>
<h2>Acerca de Imaginate Psi</h2>
<div class="section">
	<div class="content">
		<p>
			Somos un equipo de profesionales que se dedican a la atención de la salud mental desde hace más
			de 20 años. A partir de la Pandemia comenzó a aumentar el nivel de consultas de manera
			significativa dado el sinnúmero de problemáticas y síntomas que se agudizaron con el
			advenimiento de esta enfermedad de escala mundial.
		</p>
		<p>
			Fue a partir de allí (y en función del aislamiento obligatorio) que decidimos ofrecer a los
			consultantes la posibilidad de realizar la sesión online, una modalidad de atención diferente de
			la presencial pero también efectiva. Podemos afirmar que hemos comprobado la eficacia de este
			abordaje terapéutico por los resultados obtenidos en los diferentes tratamientos que realizamos
			de manera cotidiana y sistemática.
		</p>
		<p>
			Es en función de esta práctica y de este saber que decidimos ofrecer esta modalidad de atención
			psicológica a personas sin importar las distancias geográficas.
		</p>
		<p>
			Imaginate Psi nace de esa experiencia que llevamos sosteniendo en el tiempo y que nos anima a
			continuar ampliando los horizontes.
		</p>
		<p>
			Estamos convencidas que una terapia es una posibilidad para poder sentirse mejor con nosotros
			mismos y con los demás, que amplía y mejora nuestro entorno y nos brinda nuevas herramientas
			para transitar la vida.

		</p>
		<p>
			Por eso decimos: Imaginate… Psi
		</p>
	</div>
</div>