<section class="section about" id="about">
  <div class="section__background">
    {% include _figure.html alt="project" picName="bg/about" %}
  </div>
  <div class="about__content">
    <h2>Vivamus neque ex</h2>
    <p>
      Somos un equipo de profesionales que se dedican a la atención de la salud mental desde hace más de 20 años. A
      partir de la Pandemia comenzó a aumentar el nivel de consultas de manera significativa dado el sinnúmero de
      problemáticas y síntomas que se agudizaron con el advenimiento de esta enfermedad de escala mundial.
    </p>
    <p>
      Fue a partir de allí (y en función del aislamiento obligatorio) que decidimos ofrecer a los consultantes la
      posibilidad de realizar la consulta on line, una modalidad de atención diferente de la presencial pero también
      efectiva. Podemos afirmar que hemos comprobado la eficacia de este abordaje terapéutico por los resultados
      obtenidos en los diferentes tratamientos que realizamos de manera cotidiana y sistemática...
    <span>
      <a href="/about.html">..continuar</a>
    </span>
  </p>

  </div>
</section>