<section class="section contact" id="contact">
	<p class="contact__title"> Comunicate con nosotras para la primera consulta</p>
	<div class="contact__content">
		<div class="image-container mobile">
			{% include _figure.html alt="project" picName="laptop" %}
		</div>
		<div class="contact__description">
			<p>
				<strong>
					Modalidad de atención:
				</strong>
				Ofrecemos atención tanto virtual como presencial. Las entrevistas virtuales se pueden llevar a cabo a
				través
				de videollamada o por teléfono.
			</p>
			<p>
				<strong>
					Honorarios:
				</strong>
				el costo y modalidad de pago se pacta en el inicio con cada paciente.
			</p>
		</div>
		<div class="container">
			<div>
				<h2>Contacto</h2>
				<div class="grid-container">
					<div class="column1">
					  <p>Dirección</p>
					  <p>Tel / WhatsApp</p>
					  <p>Email</p>
					</div>
					<div class="column2">
					  <p>Dirección Roosvelt 2157. Ciudad Autónoma de Buenos Aires.</p>
					  <p>(+54) 11 62572790 / 66140304</p>
					  <p><a href="mailto:imaginatepsi@gmail.com">imaginatepsi@gmail.com</a></p>
					</div>
				  </div>
			</div>
			<div class="image-container">
				{% include _figure.html alt="project" picName="laptop" %}
			</div>
		</div>
	</div>
</section>