<footer class="footer">
  <div class="footer__content">
    <div class="footer__copyright">
      <span>
        © {{ site.name }}
      </span> -
      <span>
        2023
      </span>
    </div>
    <div class="footer__developer">
      <p>Developed by
        <a href="{{ site.developer_url }}" target="_blank" title="{{ site.developer }}">
          {{ site.developer }}
        </a>
      </p>
    </div>
    <div class="footer__links">
      {% for link in site.social %}
      <a href="{{link.url}}" target="_blank" title="{{link.title}}">
        {% include _figure.html picName=link.image %}
      </a>
      {% endfor %}
    </div>
  </div>
</footer>