<section class="section hero" id="hero">
  <figure>
    <figcaption>
      <h1>Anxiety Counseling for Kids, Teens &amp; College
        Students<br><em>en la Ciudad de Buenos Aires</em></h1>
      <p>“La vida sólo puede ser comprendida mirando
        hacia atrás, pero debe ser vivida hacia adelante.”</p>
      <p class="quote__author">
        Soren Kierkegaard
      </p>
      <button>
        <a href="/contact">Agendá tu consulta</a>
      </button>
    </figcaption>
    <div class="image-container">
      {% include _figure.html alt="project" picName="hero" %}
    </div>
  </figure>
  <div class="section__background">
    <img
      src="https://images.squarespace-cdn.com/content/v1/60bf9806d24c362bafe3faf5/85aabafb-0494-4194-bb30-feda06d7d3cd/Compassionate+Consulting+St+Louis+home+bg.png">
    <div class="section-background-overlay"></div>
  </div>
</section>