<section class="section hero">
  <figure>
    <figcaption>
      <div>
        <h1>Anxiety Counseling for Kids, Teens &amp; College
          Students<br><em>in St. Louis, Missouri</em></h1>
        <p>On the outside, your kid just seems
          angry, but your gut is telling you something else is going on, too. Regardless of age, your
          child becomes overwhelmed so quickly, even about things that seem small to you.</p>
        <button>
          <a href="/contact">Your Free Consultation</a>
        </button>
      </div>
    </figcaption>
    <div class="image-container">
      {% include _figure.html alt="project" picName="hero" %}
    </div>
  </figure>
</section>














<!-- <header class="intro">
  <h2 class="intro__tagline">
    “La vida sólo puede ser comprendida mirandohacia atrás, pero debe ser vivida hacia adelante”.
  </h2>
  <p>
    Soren Kierkegaard
  </p>

  <h3 class="intro__contact">
    <span>Comunicate con nosotras para la primera consulta.</span>
    <span class="intro__pointer-emoji">📞</span>
    <span>
      <a href="mailto:{{ site.email }}" target="_blank" class="highlight-link">
        {{ site.email }}
      </a>
    </span>
  </h3>
  </div>
</header> -->