<section class="section hero" id="hero">
  <figure>
    <figcaption>
      <h1>Espacio de atención psicológica online
      </h1>
    </figcaption>
    <div class="container">
      <div class="image-container--mobile">
        {% include _figure.html alt="project" picName="hero" %}
      </div>
      <div class="hero__quote">
        <p>“La vida sólo puede ser comprendida mirando
          hacia atrás, pero debe ser vivida hacia adelante.”</p>
        <p class="quote__author">
          Soren Kierkegaard
        </p>
      </div>
    </div>
    <a href="#contact">
      <button>
        Agendá tu consulta
      </button>
    </a>
  </figure>
  <div class="image-container">
    {% include _figure.html alt="project" picName="hero" %}
  </div>
  <div class="section__background">
    {% include _figure.html alt="project" picName="bg/hero" %}
  </div>
</section>