<div class="navbar">
	<div class="navbar__content">
		<div class="navbar__logo-nav-wrapper">
			<div class="navbar__logo">
				<a href="/">
					{% include _figure.html alt="logo" picName="logo" %}
				</a>
			</div>
			<nav>
				<a href="/" aria-current="page"> Home </a>
				<a href="/ages" tabindex="-1"> Ages </a>
				<a href="/specializations" tabindex="-1"> Specialties </a>
				<a href="/about" tabindex="-1"> About </a>
				<a href="/blog"> Blog </a>
			</nav>
		</div>
		<button>
			<a href="/contact"> LET'S GET STARTED </a>
		</button>
	</div>
</div>