<section class="section team" id="team">
  <div class="section__background">
		{% include _figure.html alt="project" picName="bg/team" %}
  </div>
  <div class="team__content">
    <p class="team__title">Directoras</p>
    <ul>
      {% for member in site.data.team %}
      <li>
        {% include _figure.html picName=member.image %}
        <h2>
          {{ member.name }}
        </h2>
        <p>
          <strong>
            {{ member.university }}
            <br />
          </strong>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>